@model V.Test.Web.App.ViewModels.OrganisationViewModel

@{
    ViewData["Title"] = "Index";
}



<h4>Create Organisation </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OrganisationName" class="control-label"></label>
                <input asp-for="OrganisationName" class="form-control" />
                <span asp-validation-for="OrganisationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationNumber" class="control-label"></label>
                <input asp-for="OrganisationNumber" class="form-control" />
                <span asp-validation-for="OrganisationNumber" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @Html.EditorFor(r => r.Address, "_Address")
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
