@model V.Test.Web.App.ViewModels.OrganisationViewModel

@{
    ViewData["Title"] = "Update";
}

 

<h4> Update Organisation  </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>





            <div class="form-group mt-1">
                <label asp-for="OrganisationName" class="control-label"></label>
                <input asp-for="OrganisationName" class="form-control" />
                <span asp-validation-for="OrganisationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationNumber" class="control-label"></label>
                <input asp-for="OrganisationNumber" class="form-control" />
                <span asp-validation-for="OrganisationNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <a asp-action="View" asp-route-id="@Model.Id" class="btn btn-success   mr-1">Back</a>
                <input type="submit" value="Save" class="btn btn-success   mr-1" />
            </div>
            @Html.HiddenFor(r => r.Id)
            @Html.HiddenFor(r => r.AddressId)

            @Html.EditorFor(r => r.Address, "_Address")




        </form>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
